{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Барлық үндеулер</title>

<!-- Template 2085 Neuron
http://www.tooplate.com/view/2085-neuron -->

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"> 

<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">
     
</head>
<body> 

<!-- PRE LOADER -->
<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="{% url 'index' %}" class="navbar-brand">El-DAUYSY</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{% url 'index' %}">Басты бет</a></li>
                    <li><a href="{% url 'all_petition' %}">Барлық үндеулер</a></li>
                    {% if user.status == 'Народ' %}
                    <li><a href="{% url 'create_petition' %}">Үндеу құру</a></li>
                    {% endif %}
                    {% if user.status == 'Чиновник' %}
                    <li><a href="{% url 'table_petit' %}">Үндеулер</a></li>
                    {% endif %}
                    <li><a href="{% url 'chart' %}">Үндеулердің өсімі</a></li>
                    {% if smi %} 
                    <li><a href="#">{{ smi }}</a></li>  
                    {% endif  %} 
                    {% if user.username %}      
                    <li><a href="#">ФИ: {{ user.username }}</a></li> 
                    {% endif %}
                    <li><a href="{% url 'logout_view' %}">Шығу</a></li>
               </ul>
          </div>

  </div>
</div> 

<!-- Home Section -->
<section id="home" class="main-about parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <h1>Барлық үндеулер</h1>
               </div>
          </div>
     </div>
</section>  

<!-- About Section -->
<section id="about">
     <div class="container">
          <div class="row">
               <h2>Туындаған мәселелерге байланысты онлайн үндеулер </h2>
               <form id="filter-form" method="GET" action="{% url 'all_petition' %}">
                    <div class="row">
                         <div class="col-md-3 col-sm-3">
                              <label for="keyword">Кілт сөздер</label>
                              <input type="text" name="keyword" id="keyword" class="form-control">
                         </div>
                         <div class="col-md-3 col-sm-3">
                              <label for="category">Категория</label>
                              <select name="category" id="category" class="form-control">
                                   <option value="">Барлық категориялар</option>
                                   {% for category in categories %}
                                   <option value="{{ category.id }}">{{ category.name }}</option>
                                   {% endfor %}
                              </select>
                         </div>
                         <div class="col-md-3 col-sm-3">
                              <label for="city">Қала</label>
                              <select name="city" id="city" class="form-control">
                                   <option value="">Барлық облыстар</option>
                                   {% for city in cities %}
                                   <option value="{{ city.id }}">{{ city }}</option>
                                   {% endfor %}
                              </select>
                         </div>
                         <div class="col-md-3 col-sm-3">
                              <label for="min_signatures">Қолтаңбалардың ең аз саны</label>
                              <input type="number" name="min_signatures" id="min_signatures" class="form-control" min="0">
                         </div>
                    </div>
                    
                    <br>
                    <button type="submit" class="btn btn-primary">Сүзгіден өткізу</button>
               </form>
               <br>
               <div class="row" id="petition-list">
                    {% for petition in petitions %}
                    <a href="{% url  'detail_pet' petition.id %}">
                         <div class="col-md-4 col-sm-4">
                              {% if petition.img %}
                              <img src="{{ petition.img.url }}" class="img-responsive" alt="Blog Image" style="height: 300px;">
                              {% else %}
                              <img src="{% static 'images/пет1.avif' %}" class="img-responsive" alt="Blog Image">
                              {% endif %}
                              <h3>{{ petition.title | truncatechars:40 }}</h3>
                              <p>{{ petition.description | truncatechars:140 }}</p>
                         </div>
                         {% if forloop.counter|divisibleby:3 and not forloop.last %}
                         <div class="clearfix"></div>
                         {% endif %}
                    </a>
                    {% endfor %}
               </div>
          </div>
     </div>
</section>

<!-- Footer Section -->
<footer>
     <div class="container">
          <div class="row">
               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>El-Dauysy</h3>
                    <p>
                         "Маңызды бастамаларды қолдау үшін бізге қосылыңыз! Біз бірге
                         біздің болашағымыз үшін маңызды өзгерістер жасай аламыз.
                         Үндеуге бүгін қол қойып, біздің қозғалысқа қосылыңыз!"
                    </p>
                    <div class="footer-copyright">
                         <p>© 2024 El-dauysy &copy;Барлық құқықтар қорғалған</p>
                    </div>
               </div>
               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Contacts</h3>
                    <p><i class="fa fa-globe"></i> Almaty</p>
                    <p><i class="fa fa-phone"></i> 010-010-010</p>
                    <p><i class="fa fa-save"></i> Telegram: @El-dauysy</p>
               </div>
               <div class="clearfix col-md-12 col-sm-12">
                    <hr />
               </div>
               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <li><a href="#" class="fa fa-google-plus"></a></li>
                         <li><a href="#" class="fa fa-dribbble"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>
          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a> 

<!-- SCRIPTS -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<script>
$(document).ready(function(){
    function filterPetitions() {
        $.ajax({
            url: $('#filter-form').attr('action'),
            type: 'GET',
            data: $('#filter-form').serialize(),
            success: function(response){
                $('#petition-list').html($(response).find('#petition-list').html());
            }
        });
    }

    $('#filter-form select, #filter-form input').on('change', function(){
        filterPetitions();
    });

    $('#filter-form').on('submit', function(e){
        e.preventDefault();
        filterPetitions();
    });
});
</script>

</body>
</html>
