{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>El-Dauysy</title>
<!--

Template 2085 Neuron

http://www.tooplate.com/view/2085-neuron

-->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="{% url 'index' %}" class="navbar-brand">El-Dauysy</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{% url 'index' %}">Басты бет</a></li>
                    <li><a href="{% url 'all_petition' %}">Барлық үндеулер</a></li>
                    {% if user.status == 'Народ' %}
                    <li><a href="{% url 'create_petition' %}">Үндеу құру</a></li>
                    
                    {% endif %}
                    {% if user.status == 'Чиновник' %}
                    <li><a href="{% url 'table_petit' %}">Үндеулер</a></li>
                    {% endif %}
                    <li><a href="{% url 'chart' %}">Үндеулердің өсімі</a></li>
                    {% if smi %} 
                    <li><a href="#">{{ smi }}</a></li>  
                    {% endif  %} 
                    <li><a href="{% url 'profile' %}">Профиль</a></li> 
                    <li><a href="{% url 'logout_view' %}">Шығу</a></li>
               </ul>
          </div>

  </div>
</div>

<section id="blog" class="news">
     <div class="container ">
          {% for i in news %}
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              {% if i.image %}
                              <a href="{{ i.image.url }}">
                                   <img src="{{ i.image.url }}" class="img-responsive" alt="Blog Image">
                              </a>
                              {% endif %}
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="{% url 'detail_news' i.id %}">{{ i.title }}</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="{% url 'detail_news' i.id %}"><img src="{% static 'images/author-image1.jpg' %}" class=" img-circle">{{ i.author }}</a></span>
                              <span><i class="fa fa-date"></i>{{ i.created_at }}</span>
                              <span><a href="#"><i class="">Лайк {{ i.count_likes }}
                              </i></a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>{{ i.desc | truncatechars:550 }}</p>
                              <a href="{% url 'detail_news' i.id %}" class="btn btn-default">Толығырақ</a>
                              
                              <!-- Форма лайка -->
                              {% if user.status == 'Народ' %}
                              <form action="{% url 'like' i.id %}" method="post" style="display: inline-block; margin-left: 10px;">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-default"><img class="blog-post-img" src="../media/icons8-like-50.png" alt=""></button>
                              </form>
                              {% endif %}
                              <!-- Конец формы лайка -->
                          </div>
               </div>
          </div>
     </div>
     {% endfor %}
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
       <div class="row">
         <div class="col-md-5 col-md-offset-1 col-sm-6">
           <h3>El-Dauysy</h3>
           <p>
             "Маңызды бастамаларды қолдау үшін бізге қосылыңыз! Біз бірге
             біздің болашағымыз үшін маңызды өзгерістер жасай аламыз.
             Үндеуге бүгін қол қойып, біздің қозғалысқа қосылыңыз!"
           </p>
           <div class="footer-copyright">
             <p>© 2024 El-dauysy &copy;Барлық құқықтар қорғалған</p>
           </div>
         </div>

         <div class="col-md-4 col-md-offset-1 col-sm-6">
           <h3>Contacts</h3>
           <p><i class="fa fa-globe"></i> Almaty</p>
           <p><i class="fa fa-phone"></i> 010-010-010</p>
           <p><i class="fa fa-save"></i> Telegram: @El-dauysy</p>
         </div>

         <div class="clearfix col-md-12 col-sm-12">
           <hr />
         </div>

         <div class="col-md-12 col-sm-12">
           <ul class="social-icon">
             <li><a href="#" class="fa fa-facebook"></a></li>
             <li><a href="#" class="fa fa-twitter"></a></li>
             <li><a href="#" class="fa fa-google-plus"></a></li>
             <li><a href="#" class="fa fa-dribbble"></a></li>
             <li><a href="#" class="fa fa-linkedin"></a></li>
           </ul>
         </div>
       </div>
     </div>
   </footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>


